<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Analyst Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <nav>
        <a href="/flask/">Dashboard</a>
        <a href="/flask/questions">Questions</a>
        <a href="/flask/forecasting">Forecasting</a>
        <a href="/flask/ab_test_analysis">A/B Test Analysis</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
